h3 {
    max-width: 100%;
    width: 1200px;
    /*background-color: rgb(95, 161, 161);*/
    position: relative;
    margin: 10px auto;
    height: 470px;
}
h1{
    color: #fdfdfd;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 5px;
    border-radius: 25px;
    background-color: #313737d6;
    justify-content: center;
}
.welcome img{
    position: absolute;
    left: 58%;
    width: 450px;
    border-radius: 25px;
    border: solid 5px;

}

.welcome h3{
    font: size 35px;;
    position: absolute;
    left: 5%;
    top: 15%;
    color: #333;

}
.welcome h3 span{
    font-weight: bold;
    color: crimson;
}
nav{
    position: sticky;
}
 nav{
    display: flex;
    color: #333;
    background-color: aliceblue;
    border: brown;
}

h4 span{
    font-size: bold;
    color: rgb(255, 255, 255);
}
h2{
    background-color: bisque;

}
.im img {
    width: 1220px;
    height: 600px;
    left: 100%;
}
h4{
    text-align: center;
    justify-content: none;
    left: 18%;
    text-decoration-color: aliceblue;
    position: absolute;
    color: rgb(229, 199, 161);
    border:solid 5px;
    border-style: solid;
    border-color: rgb(194, 191, 147);
    border-width: 5px;
    border-radius: 25px;
    margin: 120px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 1,5rem;
    margin-bottom: 15px;
    background-color: rgb(235, 212, 162);
    color: #222;
    margin-right: 50px;
    border-style: solid;
    border-color: rgb(235, 212, 162);
    border-width: 5px;
    border-radius: 25px;
    
}

